body, html {
  margin: 0;
  padding: 0;
}

img {
  object-fit:contain;
  width:100%; 
  height:100%;
}

.aboutGrid {
  display: grid;
  max-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.8fr;
  grid-template-areas:
    'aboutBlurb aboutBlurb aboutBlurb'
    'imageOne paragraphOne paragraphOne'
    'paragraphTwo paragraphTwo imageTwo'
    'footer footer footer';
  gap: 0px; 
}

.aboutItem {
  background-color: #523a28;
  font-family: "Alata", sans-serif;
  color: white;
  font-size: 34px;
  padding:20px;
}

#aboutBlurb {
  grid-area: aboutBlurb;
  padding: 5vh;
  font-size: 26px;
  text-align: center;
  font-family: "Kumar One", serif;
  background-color:white;
  color:black;
}

#paragraphOne {
  grid-area: paragraphOne;
}

#imageOne {
  grid-area: imageOne;
  background-color:white;
}

#paragraphTwo {
  grid-area: paragraphTwo;
}

#imageTwo {
  grid-area: imageTwo;
  background-color:white;
}

.aboutGrid .footer {
  grid-area: footer;
  background-color: #bf6336;
  height: 80px;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navContainer {
    display: grid;
    grid-template-columns: 150px 100px 1fr 500px 1fr 100px 150px; 
    background-color: #bf6336;
    height: 100;
    align-self: start;
  }

  #navLogo {
    grid-column: 2 / span 1; 
    height: 100%;
    width: 100%;
  }

  #navTitle {
    grid-column: 4 / span 1; /* Place title centrally */
  }

  .dropdown {
    grid-column: 6 / span 1; /* Place dropdown before the blank space */
    max-height: 100%;
    max-width: 70px;
  }
}

.dropbtn {
  background-color: #bf6336;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Kumar One", serif;
  height:80px;
  max-height:80px;
  max-width:100px;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-self: right;
  grid-column: 6 / span 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Kumar One", serif;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: "Kumar One", serif;
  color: white;
  padding: 0 12.5px;
}